<!-- Header -->
<header>
	<div class="container text-center">
		<a class="navbar-brand" href="{{ 'home'|page }}">
			<h1>Londero Mosaik</h1>
		</a>
	</div>
</header>
<nav id="layout-nav" class="navbar navbar-expand-lg navbar-light navbar-transparent" role="navigation">
	<div class="container">
		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
			<!-- Left Side Of Navbar -->
			<ul class="navbar-nav justify-content-center">
				<li class="nav-item {% if this.page.id == 'home' %}active{% endif %}">
					<a class="nav-link" href="{{ 'home'|page }}">Forside<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item {% if this.page.id == 'cases' %}active{% endif %}">
					<a class="nav-link" href="{{ 'cases'|page }}">Cases</a>
				</li>
				<li class="nav-item {% if this.page.id == 'skills' %}active{% endif %}">
					<a class="nav-link" href="{{ 'skills'|page }}">Kompetencer</a>
				</li>
				<li class="nav-item {% if this.page.id == 'products' %}active{% endif %}">
					<a class="nav-link" href="{{ 'products'|page }}">Produkter</a>
				</li>
				<li class="nav-item {% if this.page.id == 'teamet' %}active{% endif %}">
					<a class="nav-link" href="{{ 'team'|page }}">Teamet</a>
				</li>
				<li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}">
					<a class="nav-link" href="{{ 'contact'|page }}">Kontakt</a>
				</li>
			</ul>
		</div>
	</div>
</nav>