<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-expand-lg navbar-light navbar-transparent container" role="navigation">
	<div class="collapse navbar-collapse justify-content-md-center">
		<ul class="nav navbar-nav">
			<li class="nav-item {% if this.page.id == 'home' %}active{% endif %}">
				<a class="nav-link" href="{{ 'home'|page }}">Forside</a>
			</li>
			<li class="nav-item {% if this.page.id == 'cases' %}active{% endif %}">
				<a class="nav-link" href="{{ 'cases'|page }}">Cases</a>
			</li>
			<li class="nav-item {% if this.page.id == 'skills' %}active{% endif %}">
				<a class="nav-link" href="{{ 'skills'|page }}">Kompetencer</a>
			</li>
			<li class="nav-item {% if this.page.id == 'products' %}active{% endif %}">
				<a class="nav-link" href="{{ 'products'|page }}">Produkter</a>
			</li>
			<li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}">
				<a class="nav-link" href="{{ 'contact'|page }}">Kontakt</a>
			</li>
			<li class="nav-item {% if this.page.id == 'suppliers' %}active{% endif %}">
				<a class="nav-link" href="{{ 'suppliers'|page }}">Leverandøre</a>
			</li>
		</ul>
	</div>
</nav>