/**
* *************************************
* BASIC
* *************************************
*/
html body {
    padding-top: 0;
    margin-top: 0;
    font-size:1.5rem;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
}

a:hover {
    color: white;
}

.row:before, .row:after {
    display: flex;
}

.row.row-grid [class*="col-md-"] + [class*="col-md-"] {
    margin-top: 2em;
}


/**
* *************************************
* HEADER
* *************************************
*/
.header_bg {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.logo {
    width: 15em;
    height: auto;
}

/**
* *************************************
* NAV
* *************************************
*/
#layout-nav {
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

#navbarCollapse ul li a {
    text-align: center;
}


/**
* *************************************
* INDEX
* *************************************
*/
/* Photo grid */
#container {
    background: #DDD;
    max-width: 1400px;
}

#images .item {
    margin: .1em;
    width: 49%;
}

.item {
    width: 50%;
    float: left;
}

.item img {
    display: block;
    width: 100%;
}

.item:hover {
    cursor: pointer;
    opacity: .7;
}

button {
    font-size: 18px;
}

.col-bg {
    background-color: #c33224;
    color: white;
    padding: .3em;
    padding-top: .7em;
    text-align: center;
    margin-bottom: 1rem;
}

.col-bg h3 {
    word-spacing: .25em;
}


/**
* *************************************
* CASES AND PRODUCTS
* *************************************
*/
.prod_pic {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* Product filtering */
section {
    text-align: center;
}

section .img {
    display: inline-block;
    width: 20%;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

section .img:hover {
    cursor: pointer;
    opacity: .7;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: #c33224;
  color: #ffffff;
}

/* Product modals */
main section:nth-of-type(2) .img {
    width: 85%;
    border: 5px solid #ffffff;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

main section:nth-of-type(2) .img:hover {
    cursor: pointer;
    opacity: .7;
}

main section:nth-of-type(2) .img:last-child {
    margin-bottom: 0;
}

.modal01, 
.modal02, 
.modal03, 
.modal04, 
.modal05, 
.modal06, 
.modal07, 
.modal08,
.modal09,
.modal10,
.modal11,
.modal12,
.modal13,
.modal14,
.modal15 {
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: gainsboro;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

/* Image inside of product modal */
#slim {
    width: 43%;
    float: right;
    margin-top: 2%;
    margin-right: 0;
}

/* The content of the products modal */
#content {
    background-color: #fff;
    width: 80%;
    height: 90%;
	border: 3px solid #f5eacd;
	margin: 0 auto;
	margin-top: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

/* The style of the p section in the modal */
main:first-of-type section p {
    color: black;
    text-transform: none;
    text-align: left;
    border: none;
    font-weight: normal;
    font-size: 12px;
    hyphens: auto;
    -webkit-hyphens: auto;
    margin-top: 6%;
    margin-left: 2%;
}

/* Close button */
.close {
    color: black;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -35px;
}

.close:hover, .close:focus {
    color: #c33224;
    text-decoration: none;
    cursor: pointer;
}


/**
* *************************************
* CONTACT
* *************************************
*/
.team {
    text-align: center;
}

.team h3, p {
    text-align: left;
}

.thumbnail {
    width: 75%;
    margin-left: 3em;
}

.thumbnail img {
    width: 100%;
}


/**
* *************************************
* SUPPLIERS
* *************************************
*/
.suppliers {
    text-align: center;
}

.suppliers img {
    width: 75%;
    height: auto;
}


/**
* *************************************
* FOOTER
* *************************************
*/
footer a {
    color: #6c757d;
    
}

footer a:hover {
    color: #c33224;
}

.fa-2x {
    font-size: 3em;
    padding-right: 1rem;
}

footer {
    text-align: center;
    background-color: #f5eacd;
    margin-top: 2em;
}


/**
* *************************************
* MEDIA QUERIES
* *************************************
*/
@media screen and (min-width: 800px) {
    #slim {
        width: 30%;
        float: right;
        margin-top: 5%;
        margin-right: 90px;
        margin-left: 70px;
    }

    .item {
        width: 25%;
        float: left;
    }

    .thumbnail {
        width: 100%;
        margin-left: 0em;
    }

    .fa-2x {
        font-size: 2em;
    }

    footer {
        text-align: left;
    }

    #layout-nav {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .col-bg h3 {
        word-spacing: 1em;
    }

    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }

    #images .item {
        margin: .1em;
        width: 24.7%;
    }
}


@media screen and (min-width: 600px) {
    main section:nth-of-type(2) {
        padding-left: 50px;
        padding-right: 0;
    }
    
    main:nth-of-type(2) {
        padding-right: 50px;
        padding-left: 50px;
    }
    
    main:nth-of-type(2) img {
        width: 40%;
        margin-right: 40px;
    }
    
    main:nth-of-type(2) p {
        line-height: 20px;
    }    
}


@media screen and (min-width: 500px) {
    main section:nth-of-type(2) {
        padding-left: 40px;
        padding-right: 0;
    }
    
    main section:nth-of-type(2) img {
        width: 42%;
        display: inline-block;
        margin-right: 20px;
        overflow-x: hidden;
        vertical-align: text-top;
        position: static;
    }
}


@media screen and (min-width: 375px) {
    main:first-of-type section p {
        font-size: 14px;
    }
    
    main:nth-of-type(4) p {
        font-size: 16px;
        line-height: 23px;
    }
}